body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align text and elements */
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the header content */
    background-color: #333;
    padding: 10px;
}

header .logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.embed-container {
    margin-bottom: 20px;
    text-align: center;
}

.embed-container iframe {
    display: block; /* Make iframes block elements */
    margin: 0 auto; /* Center iframes */
}

/* Custom size for the Google Spreadsheet */
.spreadsheet-embed {
    width: 3200px; /* 5 times the original width (640px * 5) */
    height: 1920px; /* 4 times the original height (480px * 4) */
}
