body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align text and elements */
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

header .logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.embed-container {
    display: inline-block; /* Center the container */
    margin-bottom: 20px;
}

.embed-container iframe {
    display: block;
    margin: 0 auto; /* Center iframes */
}

/* Custom size for the Google Spreadsheet */
.spreadsheet-embed {
    width: 3200px;
    height: 1920px;
}
